<div class="header flex-box">
    <div class="flex-box" style="width: 90%; justify-content: start;">
        <img class="menu-icon" src="../../assets/menu.png">
        <input class="search" placeholder="Search for something..." />
    </div>
    <div class="icons">
        <div class="label-con">
            <img class="icon" src="../../assets/envelope.png" />
            <app-label type="unRead" text=10></app-label>
        </div>
        <div class="label-con">
            <img class="icon" src="../../assets/notification.png" />
            <app-label type="notification" text=7></app-label>
        </div>
        <div>
            <img class="icon logout" src="../../assets/logout.png" />
            <div class="logout">Log out</div>
        </div>
    </div>
</div>