.flex-box {
    display: flex;
    // align-items: center;
    justify-content: space-between;
}

.header {
    padding: 15px 30px;
    // width: 92vw;
    height: 4vh;
    // align-items: flex-start;
    background-color: white;
}

.icons {
    display: flex;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
    color: #666666;
    font-weight: bold;
}

.search {
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.icon {
    width: 20px;
    // padding-right: 20px;
}

.logout {
    margin-right: 10px;
    cursor: pointer;
}

.label-con {
    position: relative;
}

.menu-icon {
    display: none;
    background-color: rgb(46, 183, 154);
    padding: 5px 8px;
    border-radius: 3px;
}

.menu-container {
    // width: 90%;
    // justify-content: start;
}

.sidenav-container {
    // width: 4vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #2E4051;
    // background: #212f3c
    cursor: pointer;
    overflow: hidden;
}

.sidenav-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // height: 100%;
    align-items: center;
    justify-content: space-between;
}

.sidenav-icon-container {
    // width: 5vw;
    padding: 20px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    // justify-content: center;
    color: #A6B1C3;
}

.sidenav-icon {
    width: 24px;
    height: 24px;
    color: #A6B1C3;
}

.icon-text {
    font-size: 20px;
}

.top-icon {
    color: white;
    font-size: 20px;
    background-color: #212f3c;
}

.email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 100%;
}

.details-container {
    display: flex;
    // justify-content: space-between;
    // width: 20%;
    padding: 20px 30px;
}

.inbox {
    padding: 20px 40px;
    width: 100%;
}

@media(max-width: 1024px){
    .icons {
        width: 25vw;
    }

    .sidenav-container {
        // width: 7vw;
        height: 100vh;
    }
    .sidenav-icon-container {
        width: 10vw;
        text-align:right;
    }
    .header {
        height: 2.5vh;
        padding: 15px;
        // width: 90vw;
    }

}
.align-bars{
  display: flex;
  justify-content: right;
  position: absolute;
  right: 20px;
  cursor:pointer;
}

.details-component {
  width: 30%;
}
@media(max-width: 1024px) {
    .details-container {
        // width: 30%;
    }
}

@media(max-width: 767px) {
    .menu-icon {
        display: block;
    }
    .label-con {
        display: none;
    }
    .icon {
      width: 14px;
    }
   
    .sidenav-container {
        display: none;
    }

    .header {
        padding: 5px;
        height: 5vh;
        // width: 100vw;
    }

    .details-container {
        padding: 0;
        margin-top: 20px;
    }

    .inbox {
        padding: 0;
    }

    .details-component {
      display: none;
    }
}

// new css for nav bar
.fa-2x {
  font-size: 2em;
}
.menu-icons {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  padding: 15px;
  // padding-right: 20px;
}




nav.main-menu.expanded {
  width:250px;
  overflow:visible;
}

.main-menu {
  background:#2E4051;
  border-right:1px solid #e5e5e5;
  position: relative;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  // width:250px;
}

.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;

}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  font-size:16px;
  color:#A6B1C3;
}

.main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}

a:hover,a:focus {
  text-decoration:none;
}

nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  background-color:#2eb79a;
  cursor: pointer;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
.pointer{
  cursor:pointer;
}
.dropdown-container {
  background-color: #262626;
  padding-left: 8px;

}

.has-subnav-item{
  background-color: #212f3c;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.has-subnav-item:hover{
  color:#fff;
  background-color:lightblue;
  cursor: pointer;
}
.fa-sort-down{
  position: absolute;
  right: 8px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {  // mobile screeens

.main-menu{
  position: absolute;
  width:0px;
}
  //.align-bars{
  //  display: none;
  //}
  .sidenav-icon-container{
    width: 58vw;
  }
}

.sub-nav-text {
  color: #A6B1C3
}

.activeTab {
  border-left: 5px solid #2eb79a;
  .nav-text {
    color: white;
  }
}

.active-sub-nav {
  .sub-nav-text {
    color: white;
  }
}

.name {
  font-size: 17px;
}

.user-icon {
  width: 50px;
  height: 50px; 
  border-radius: 50px; 
  margin-bottom: 10px;
}