.alert {
    position: absolute;
    top: 5%;
    left: 35%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 25%;
    text-align: center;
  }

  .success {
    background-color: #4CAF50;
  }

  .error {
    background-color: #f44336
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  @media(max-width: 767px) {
    .alert {
      top: 0;
      left: 0;
      width: 94%;
      padding: 12px;
    }
  }