.read-msg-container{
  height: 500px;
}
.mail-subject{
  padding-left: 50px;
}
.fa-user{
  padding: 6px 8px 6px 8px;
  border: 1px solid gray;
  background-color: #d8d8d8;
  color:white;
  border-radius:50%;
  margin-left: 10px;
}
.sender-name{
  padding-left: 10px;
  font-weight: bold;
  color: #3c3c3c;
}
.to-me{
  padding-left: 50px;
  font-size: 12px;
}
.hai-name{
 padding:30px 0px 0px 50px;
}
.body-msg{
  padding:50px 0px 0px 50px;
}
.regards{
  padding:70px 0px 0px 50px;
  line-height: 28px;
}
.back-arrow{
  margin-top:10px;
  margin-left: 20px;
  cursor: pointer;
}
