.inbox-container {
    border-radius: 5px;
    width: 70vw;
    background-color: white;
    padding: 20px 0px;
    color: #666666;
    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 10px;
    }
    .heading {
        font-size: 25px;
    }
}

.inbox-search {
    padding: 5px 10px;
    width: 20vw;
    // border-radius: 5px;
    border: 1px solid lightgray
}

::placeholder {
    font-weight: normal;
}

.search-button {
    padding: 5px;
    width: 20%;
    border-radius: 0px;
    border: none;
    outline: none;
}

.search-container {
    // width: 30%; 
    display: flex;
}

.second {
    width: 60vw;
}

.empty-text {
    background: none;
    text-align: center; 
    color: #666666;
}
.mobile-compose {
    display: none;
}
@media(max-width: 767px) {
    .inbox-container {
        width: auto;
        .header {
            flex-direction: column;
        }

        .heading {
            margin-bottom: 10px;
        }
    }

    .search-container {
        width: 98%;
    }

    .inbox-search {
        width: 100%;
    }
    .mobile-compose {
        display: block;
    }
    
    .plus-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
    }
}

// .mails-container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }