<div [ngClass]="{'inbox-container': true, 'second': mailService.isSideBarCollapse}"
    *ngIf="(this.mailService.emails.length && headingText == 'Inbox') || (sentMails.length && headingText == 'Sent Mails' ) ">
    <div class="header" *ngIf="!isReadMail">
        <div class="heading">
            {{headingText}}
            <span *ngIf="mailService.count['inbox'] && headingText == 'Inbox' ">({{mailService.count['inbox']}})</span>
        </div>
        <div class="search-container">
            <input placeholder="Search email" class="inbox-search" />
            <div class="primary-button search-button">Search</div>
        </div>
    </div>
    <!-- <div class="mails-container"> -->
    <app-mail-list *ngIf="!isReadMail" [data]="data" (passMesaageDetails)="passMessageToViewMail($event)">
    </app-mail-list>
    <app-view-mail *ngIf="isReadMail" [viewMailDetails]="readMailData" (goBackToList)="getInboxList($event)">
    </app-view-mail>
    <!-- </div> -->
</div>

<h1 class="inbox-container empty-text" 
*ngIf="!(this.mailService.emails.length && headingText == 'Inbox') && !(sentMails.length && headingText == 'Sent Mails' )">
    No {{headingText}}<span *ngIf = "headingText == 'Inbox' "> messages</span> !!
    <!-- <h1>Compose</h1> -->
</h1>

<div class="mobile-compose">
    <img (click)='mailService.popupComposeMail()' *ngIf="!mailService.showComposeMail" class="plus-icon"
        src="../../../assets/plus.png" />
    <app-compose-mail *ngIf="mailService.showComposeMail"></app-compose-mail>
</div>