/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F3F3F4; }
.primary-color {
    color:#2eb79a;
}

.flex-box {
    display: flex; 
    // align-items: center;
    justify-content: space-between;
}

.text-color {
    color: #666666;
}

.primary-button {
    background-color: #2eb79a;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.primary-button:hover {
   opacity: .8;
}

::placeholder {
    font-weight: bold;
    color: #a89a9a;
    font-size: 16px;
}